.container {
  min-height: 100vh; /* Ocupa 100% da tela */
  background: #eee;
  padding: 30px; /* Laterais das imagens */
  margin: 0 auto;
  max-width: 1200px;
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); /* faz o design do grid */
  gap: 30px /* espaçamento entre elementos */
}
.post {
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Efeito de sombreado*/
  transition: transform 100ms ease-in-out; /* Animação - a transição*/
}

.post:hover {
  transform: scale(1.05); /* Animação - o Efeito */
}

.post img {
  max-width: 100%;
}

.post-content {
  padding: 30px;
}